
/* Acrom-ExtraBold */
@font-face {
    font-family: 'Acrom-ExtraBold';
    src: url('../fonts/Acrom/Acrom-ExtraBold.woff') format('woff');
}


/* Acrom-Bold */
@font-face {
    font-family: 'Acrom-Bold';
    src: url('../fonts/Acrom/Acrom-Bold.woff') format('woff');
}


/* Acrom-Medium */
@font-face {
    font-family: 'Acrom-Medium';
    src: url('../fonts/Acrom/Acrom-Medium.woff') format('woff');
}

/* Acrom-Regular */
@font-face {
    font-family: 'Acrom-Regular';
    src: url('../fonts/Acrom/Acrom-Regular.woff') format('woff');
}

/* Roboto-Regular */
@font-face{
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto.woff') format('woff');
}

