.contacts__email {
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding-left: 15px;
}

.contacts__email::before {
    content: '';
    position: absolute;
    left: 0;
    width: 15px;
    height: 11px;
    background: url(//src/img/sprite/mail-icon.svg) no-repeat center;
}