@import './fonts';


$primary-font-title:'Acrom-ExtraBold';
$primary-font-txt: 'Acrom-Regular';
$secondary-font-txt: 'Roboto-Regular';
$primary-font-accent:'Acrom-Bold';
$secondary-font-accent:'Acrom-Medium';


$black:#000000;
$white:#ffffff;
$dark-grey:#231f20;
$light-grey:#3f4144;
$dark-orange:#f26228;
$light-orange:#ef742f;


