.course-info__txt {
    margin: 0;
    font-size: 0.9375rem;
    font-family: $primary-font-accent;
    color: $dark-orange;
    line-height: 1.3125rem;
    position: relative;
    padding-left: 68px;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 32px;
        height: 4px;
        background-color: $black;
        left: 24px;
        top: 50%;
        transform: translate(0,-50%) rotate(-60deg);
    }
}