$modules-spacing: 30px;

.section-course-program {

  margin-bottom: 100px;

  .headline {
    font-family: $primary-font-title;
    color: $black;
    font-size: 3.625rem;
    margin: 0 0 10px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .headline_bg {
    display: inline-block;
    color: white;
    background: $black;
    margin: 0;
    line-height: 1.2;
  }

  .headline_font-size {
    font-size: 0.77rem;
  }

  .section-course-program__headline {
    margin-bottom: 56px;
    text-transform: none;
  }
}


.modules {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.module {
  display: flex;
  width: 32.5%;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: $modules-spacing;

  &:not(:nth-of-type(3n)) {
    margin-right: 1.25%;
  }

  &:nth-last-of-type(-n + 3) ~ .module {
    margin-bottom: 0;
  }

  &:nth-of-type(3n):not(:last-child) {
    margin-bottom: $modules-spacing;
  }

  .module__number {
    height: 38px;
    margin-left: -14px;
    position: relative;
    line-height: 35px;
    font-size: 2.3225rem;
    font-family: $primary-font-title;
  }

  .module__number::after {
    position: absolute;
    bottom: -13px;
    right: 0;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: $dark-orange;
  }

  .description-module {
    width: 75%;
  }

  .description-module__txt {
    font-family: $secondary-font-txt;
    font-size: 0.6575rem;
    line-height: 15px;
    margin: 0;
  }
}

@media (max-width: 540px) {
  .module {
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .module {
    width: 48%;
    margin-bottom: $modules-spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.headline_bg {
  display: inline-block;
  color: white;
  background: black;
  margin: 0;
  line-height: 1.2;
 }


@media (max-width: 768px) {
  .module {
    width: 48%;
    margin-bottom: $modules-spacing;
    &:nth-last-of-type(-n + 2) {
      margin-bottom: 0;
    }
  }
}
