.after-course{
    margin-bottom: 40px;
    @extend%flex;
    flex-wrap:nowrap;
    padding: 0;
}

.after-course__description{
    flex-basis: 50%;

}
.after-course__title{
    @extend%title;
    margin: 0 0 26px;

        &--white{
            display: inline-block;
            background-color:$black;
            color:$white;
    
        }
}
.after-course__list{
    @extend%txt;
    margin: 0;
    padding:0;

}
.after-course__item{
    list-style: none;
    padding: 0 70px 0 70px;
    position: relative;
    margin: 0 0 14px 0;


        &::before{
            display: block;
            content: "";
            width: 8px;
            height: 8px;
            background-color: $dark-orange;
            position: absolute;
            top:6px;
            left:46px;
        }
        &:last-of-type{
            margin-bottom: 0;
        }
        &:nth-of-type(3n){
            padding-right: 120px;
        }
}
.after-course__img{
    display: block;
    padding-top: 16px;
    max-width: 100%;
    width: 425px;
    height: 100%;
  
}

@media (max-width: 767px) { 
    .after-course__img{
        display: none;
    }
    .after-course__title{
        font-size: 1.20rem;
        line-height: 1.25rem;
        margin-bottom: 20px;
    }
    .after-course__description{
        flex-basis: 100%;
    
    }
    .after-course__list{
        font-size: 0.875rem;
        line-height: 1.5;
    }
    .after-course__item{
        padding: 0 20px 0 40px;
        margin: 0 0 16px 0;

        &::before{
            top:0;
            left:20px;
        }
        &:nth-of-type(3n){
            padding-right: 40px;
        }
    }    

}    