.before-course{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 120px;
}
.before-course__description{
    width: 48%;
}
.before-course__img{
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.before-course__title{
    font-family: $primary-font-title, sans-serif;
    font-weight: 900;
    font-size: 2.29rem;
    color: $black;
    line-height: 3.125rem;
    letter-spacing: 0;
    margin: 0 0 42px;
    padding-top: 26px;
    position: relative;

        &::before{
            display: block;
            content: "";
            width: 16px;
            height: 16px;
            background: $black;
            position: absolute;
            top: 0;
            left: 0;

        }
}
.before-course__txt{
    font-family: $primary-font-txt, sans-serif;
    font-weight: 400;
    font-size: 1.04rem;
    color: $black;
    line-height: 1.5625rem;
    letter-spacing: 0;
    margin: 0;
    padding: 0 50px 0 0;
}