.watermark {
    position: relative;

&__txt {
    opacity: 0.05;
    color: black;
    font-family: $primary-font-title;
    text-transform: uppercase;
    position: absolute;
    z-index: 0;
    right: 0;
}

&__txt-one {
    font-size: 11.25rem;
    top: 0;
    transform: translate(-21rem,48.3125rem) rotate(90deg);

    @media (min-width: 768px) and (max-width: 1439px) {
        transform: translate(-5.3rem,77.75rem) rotate(90deg);
    }

    @media (max-width: 767px) {
        font-size: 6.25rem;
        transform: translate(4rem,59.3125rem) rotate(90deg);
    }
    
}

&__txt-two {
    font-size: 10.25rem;
    bottom: 0;
    transform: translate(7.1rem,157.4rem) rotate(90deg);

    @media (min-width: 768px) and (max-width: 1439px) {
        transform: translate(29.8rem,192.75rem) rotate(90deg);
        }
    @media (max-width: 767px) {
        font-size: 6.25rem;
        transform: translate(15rem,132.4rem) rotate(90deg);
        }
   
    }
}