.watermark {
    position: relative;

&__txt {
    opacity: 0.05;
    color: black;
    font-family: $primary-font-title;
    text-transform: uppercase;
    position: absolute;
    z-index: 0;
}

&__txt-one {
    font-size: 180px;
    bottom: 2729px;
    right: -8px;
    transform: rotate(90deg);   

    @media (min-width: 768px) and (max-width: 1439px) {
        bottom: 3500px;
        right: 200px;
    }
    @media (max-width: 767px) {
        bottom: 3524px;
        right: 200px;
        }
}

&__txt-two {
    font-size: 164px;
    bottom: 1187px;
    right: -450px;
    transform: rotate(90deg);   

    @media (min-width: 768px) and (max-width: 1439px) {

        right: -418px;
        bottom: 1842px;
        }
        @media (max-width: 767px) {
            right: -418px;
            bottom: 2356px;
            }

    }
}  
       