.watermark {
    position: relative;

&__txt {
    opacity: 0.05;
    color: black;
    font-family: $primary-font-title;
    text-transform: uppercase;
    position: absolute;
    z-index: 0;
}

&__txt-one {
    font-size: 11.25rem;
    top: 48.2rem;
    right: 21rem;
    transform: rotate(90deg);

    @media (min-width: 768px) and (max-width: 1439px) {
        transform: rotate(90deg);
        top: 79rem;
        right: 4rem;
    }

    @media (max-width: 767px) {
        font-size: 6.25rem;
        transform: rotate(90deg);
        top: 56rem;
        right: 0;
    }
    
}

&__txt-two {
    font-size: 10.25rem;
    top: 145.7rem;
    right: -7.4rem;
    transform: rotate(90deg);

    @media (min-width: 768px) and (max-width: 1439px) {
        transform: rotate(90deg);
        top: 194rem;
        right: -32rem;
        }
    @media (max-width: 767px) {
        font-size: 6.25rem;
        transform: rotate(90deg);
        top: 139rem;
        right: -19rem;
        }
   
    }
}