.contacts__phones {
    list-style: none;
}

.phone__link {
    text-decoration: none;
    color: $black;
}

.phone__link::before {
    content: '';
    position: absolute;
    left: 0;
    width: 8px;
    height: 10px;
    background: url(//src/images/sprite/call-answer.svg) no-repeat center;

}