.contacts-wrapper {
    width: 26.744186%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1439px) {
        width: 37%;
    }

    @media (max-width: 767px) {
        flex-direction: column;
        width: 39%;
    }
}