header {
    padding: 2rem 0.375rem 0.7rem;

    @media (min-width: 768px) and (max-width: 1439px) {
        padding-bottom: 0.1rem;
    }

    @media (max-width: 767px) {
        padding: 2rem 0.1rem 0.1rem;
    }
}

.header {
    @extend%flex;
    align-items: center;
}